<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP - Banco de Sangue 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form #formulario="ngForm" class="ion-padding">
    <br>
    <ion-item>
      <ion-label>Tipo Sanguíneo: </ion-label>
      <select name="tpSangue" id="tpSangue" ngModel>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
      <br>
      <ion-label class="ion-padding">Quantidade: </ion-label>
      <ion-input name="qtde" ngModel></ion-input>
      <p>ml</p>
    </ion-item><br>
    <br>
    <ion-button (click)="doar(formulario); this.formulario.reset()">DOAR</ion-button>
    <ion-button (click)="estoque()">ANÁLISE ESTOQUE</ion-button>
  </form>
  <br>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>Tipo Sanguíneo</ion-col>
      <ion-col>Estoque</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>A+</ion-col>
      <ion-col>{{apos_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>A-</ion-col>
      <ion-col>{{aneg_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>B+</ion-col>
      <ion-col>{{bpos_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>B-</ion-col>
      <ion-col>{{bneg_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>AB+</ion-col>
      <ion-col>{{abpos_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>AB-</ion-col>
      <ion-col>{{abneg_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>O+</ion-col>
      <ion-col>{{opos_atual}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>O-</ion-col>
      <ion-col>{{oneg_atual}}</ion-col>
    </ion-row>
  </ion-grid>
  <br><br>

</ion-content>
